@charset "UTF-8";
/***************************************************************************
***                               Resets                                 ***
***************************************************************************/
/* Light Reset  */
* {
  margin: 0;
  padding: 0;
}

/* Box Model Fix  */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/***************************************************************************
***                            Color Palette                             ***
***************************************************************************/
/*
https://coolors.co/bf1e2e-343434-4392f1-f9e0d9-f9f9f9
#BF1E2E Red NCS 					- rgb(191,30,46)
#343434 Dark Gray (Almost black) 	- rgb(52,52,52)
#4392F1 Dodger Blue 				- rgb(67,146,241)
#F9E0D9 Misty Rose 					- rgb(249,224,217)
#F9F9F9 Cultured (Almost White) 	- rgb(249,249,249)
*/
@use "sass:color";
.index-grid, .menu-grid, .menu-submenus-grid, .quienessomos-grid, .leyenda-grid {
  display: grid;
  grid-template-columns: 100%;
}

.products-item .products-image {
  display: flex;
  justify-content: center;
  align-content: center;
}

/***************************************************************************
***                        Global Styles (All Pages)                     ***
***************************************************************************/
body {
  color: #343434;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 100%;
}

/* Parametro usado exclusivamente para evitar el scroll horizontal, que se dio por la animacion de Animista en el header (Crecimiento foto de fondo), de resto la pagina NO requiere el clapping que da el overflow-x */
html, body {
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 65px;
  line-height: 0.9;
  margin-bottom: 30px;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 85px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 150px;
    line-height: 1.2;
  }
}

h2 {
  font-size: 40px;
  line-height: 1;
}

@media screen and (min-width: 576px) {
  h2 {
    font-size: 60px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 80px;
  }
}

h1, h2 {
  font-family: 'Updock', cursive;
  font-weight: 400;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0 20px 0 0;
}

main h2 {
  text-shadow: 5px 5px 5px rgba(52, 52, 52, 0.6);
}

h3 {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 22px;
  }
}

h5 {
  font-size: 24px;
}

/* se agrega h5 por las cards de producto con bootstrap */
h3, h5 {
  margin-bottom: 0;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
}

p {
  margin: 2em 0;
}

/* .item-details applies to Events (index.html) and HowTos (index.html) Sections */
.item-details h3 + p {
  /* Sibling Combinator - only the element directly after */
  font-size: italic;
}

.item-details h3 ~ p {
  /* Sibling Combinator - any sibling after */
  margin: 0;
}

/* .dash-divider applies to Events (index.html) and HowTos (index.html) Sections*/
.dashed-divider > article {
  /* Child Combinator - any direct child after */
  border-bottom: 1px dashed #343434;
  /* Dark Gray (Almost black) */
  padding: 25px 0;
}

.dashed-divider > article:last-of-type {
  /* to avoid dashed line in the last item */
  border-bottom: none;
}

/* parametros de la curva creada en SVG, en mobile, no se muestra, se habilita desde los 576px */
.curva-SVG {
  display: none;
  height: 150px;
  overflow: hidden;
  margin-bottom: -2px;
  /* Valor negativo para evitar linea de pixel blanco sobrelapando con el footer */
}

.curva-SVG svg {
  height: 100%;
  width: 100%;
}

.curva-SVG svg path {
  stroke: none;
  fill: #BF1E2E;
}

@media screen and (min-width: 576px) {
  .curva-SVG {
    display: inherit;
  }
}

.content-wrap {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
  padding: 10px 0 5px;
}

.container-hamburger .checkbox {
  display: block;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 4;
  opacity: 0;
}

.container-hamburger .hamburger-icon {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-hamburger .hamburger-icon .hamburger-line {
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 2px;
  background: #BF1E2E;
}

.container-hamburger .hamburger-icon .hamburger-topline {
  transform-origin: 0% 0%;
  transition: transform 0.5s ease-in-out;
}

.container-hamburger .hamburger-icon .hamburger-middleline {
  transition: transform 0.2s ease-in-out;
}

.container-hamburger .hamburger-icon .hamburger-bottomline {
  transform-origin: 0% 100%;
  transition: transform 0.5s ease-in-out;
}

.container-hamburger input[type="checkbox"]:checked ~ .hamburger-icon .hamburger-topline {
  transform: rotate(45deg);
}

.container-hamburger input[type="checkbox"]:checked ~ .hamburger-icon .hamburger-middleline {
  transform: scaleY(0);
}

.container-hamburger input[type="checkbox"]:checked ~ .hamburger-icon .hamburger-bottomline {
  transform: rotate(-45deg);
}

.container-hamburger:hover .hamburger-line {
  background: #4392F1;
}

/***************************************************************************
***                         Header (All Pages)                           ***
***************************************************************************/
header {
  background: #F9F9F9;
  color: #BF1E2E;
  text-align: center;
  background-size: cover;
  background-position: top right;
}

header h2 {
  padding-left: 20px;
  /* Padding para compensar un poco mas de alto de la foto de background en anchos amplios */
}

@media screen and (min-width: 992px) {
  header h2 {
    padding-bottom: 50px;
  }
}

.logo-central {
  max-width: 220px;
  max-height: 220px;
  height: 90vw;
  padding: 20px 0;
  margin: 0 auto;
  align-items: center;
  opacity: 70%;
}

.logo-central:hover {
  opacity: 40%;
}

/* Se usa Z-Index para asegurar que el background quede por debajo de los otros elementos del header como h1, h2 y el logo de kaffa */
.header-image-background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-size: cover;
  background-position: top right;
  z-index: -5;
}

.header-index {
  background-image: url(../images/KaffaLove-FotoExterior-750px-471px.jpg);
}

.header-leyenda {
  background-image: url(../images/KaffaLove-FotoMesasExternas-750px-471px.jpg);
}

.header-quienessomos {
  background-image: url(../images/KaffaLove-FotoInteriornavideno-750px-471px.jpg);
}

.header-menu {
  background-image: url(../images/KaffaLove-FotoCafetera-750px-471px.jpg);
}

.header-contacto {
  background-image: url(../images/KaffaLove-FotoInterior-750px-471px.jpg);
}

/***************************************************************************
***                         Global Grids (All Pages)                     ***
***************************************************************************/
.index-grid {
  background: #F9F9F9;
  grid-template-areas: "navigation" "kaffa-motto" "products" "events" "howTos";
}

@media screen and (min-width: 768px) {
  .index-grid {
    grid-template-columns: 40% 60%;
    grid-template-areas: "kaffa-motto   navigation" "products      products" "events        events" "howTos        howTos";
  }
  .index-grid .curva-SVG {
    margin-bottom: 0;
    /* solo para index al crear las dos columnas, la curva SVG se le eliminan los pixeles negativos de margin, evitar sobrelapo */
  }
}

@media screen and (min-width: 992px) {
  .index-grid {
    grid-template-columns: 60% 40%;
    grid-template-areas: "kaffa-motto   navigation" "products      products" "events        howTos";
  }
}

.menu-grid {
  grid-template-areas: "navigation" "kaffa-motto" "menu-general";
}

@media screen and (min-width: 768px) {
  .menu-grid {
    grid-template-columns: 40% 60%;
    grid-template-areas: "kaffa-motto   navigation" "menu-general	menu-general";
  }
}

@media screen and (min-width: 992px) {
  .menu-grid {
    grid-template-columns: 60% 40%;
  }
}

.menu-submenus-grid {
  grid-template-areas: "navigation" "kaffa-motto" "products" "menu-general";
}

@media screen and (min-width: 768px) {
  .menu-submenus-grid {
    grid-template-columns: 40% 60%;
    grid-template-areas: "kaffa-motto   	navigation" "products		products" "menu-general	menu-general";
  }
}

@media screen and (min-width: 992px) {
  .menu-submenus-grid {
    grid-template-columns: 60% 40%;
  }
}

.quienessomos-grid {
  grid-template-areas: "navigation" "kaffa-motto" "quienes-somos";
}

@media screen and (min-width: 768px) {
  .quienessomos-grid {
    grid-template-columns: 40% 60%;
    grid-template-areas: "kaffa-motto   navigation" "quienes-somos	quienes-somos";
  }
}

@media screen and (min-width: 992px) {
  .quienessomos-grid {
    grid-template-columns: 60% 40%;
  }
}

.leyenda-grid {
  grid-template-areas: "navigation" "kaffa-motto" "leyenda";
}

@media screen and (min-width: 768px) {
  .leyenda-grid {
    grid-template-columns: 40% 60%;
    grid-template-areas: "kaffa-motto   navigation" "leyenda		leyenda";
  }
}

@media screen and (min-width: 992px) {
  .leyenda-grid {
    grid-template-columns: 60% 40%;
  }
}

.contacto-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "navigation" "kaffa-motto" "encuesta" "juegodiferencias";
}

@media screen and (min-width: 768px) {
  .contacto-grid {
    grid-template-columns: 40% 60%;
    grid-template-areas: "kaffa-motto       navigation" "encuesta		   encuesta" "juegodiferencias  juegodiferencias";
  }
}

@media screen and (min-width: 992px) {
  .contacto-grid {
    grid-template-columns: 60% 40%;
  }
}

/* All Pages */
.navigation {
  grid-area: navigation;
}

.kaffa-motto {
  grid-area: kaffa-motto;
}

/* index page */
.products {
  grid-area: products;
}

.events {
  grid-area: events;
}

.howTos {
  grid-area: howTos;
}

/* menu page */
.menu-general {
  grid-area: menu-general;
}

/* quienes-somos page */
.quienes-somos {
  grid-area: quienes-somos;
}

/* leyenda page */
.leyenda {
  grid-area: leyenda;
}

/* contacto page */
.encuesta {
  grid-area: encuesta;
}

/* contacto page */
.juegodiferencias {
  grid-area: juegodiferencias;
}

/***************************************************************************
***                         Navigation (All Pages)                       ***
***************************************************************************/
.navigation {
  display: none;
  top: 10px;
  background-color: #F9F9F9;
  /* Navbar (bootstrap) y navigation bar (manual) intercambian lugares a partir de 768px */
}

.navigation li {
  position: relative;
  /* para poder colocar la class de bootstrap .stretched-link y cada li mantenga el clickable de su elemtno y no toda la barra */
}

@media screen and (min-width: 768px) {
  .navigation {
    display: inherit;
  }
}

.navigation .button-rectangle {
  font-size: 12px;
  color: #F9F9F9;
  background: #BF1E2E;
  text-decoration: none;
  padding: 4px;
  border-radius: 4px;
  margin: 5px;
  width: 120px;
  display: inline-block;
  transition: all 0.5s;
}

@media screen and (min-width: 576px) {
  .navigation .button-rectangle {
    font-size: 20px;
    width: 170px;
  }
}

.navigation .button-rectangle:hover {
  background: rgba(67, 146, 241, 0.6);
  /* Dodger Blue */
  transform: scale(1.1);
}

.navigation-list {
  list-style-type: none;
  padding: 0 0 10px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 20;
}

.navbar .nav-link:hover {
  background-color: rgba(191, 30, 46, 0.2);
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: none;
  }
}

/***************************************************************************
***                      Kaffa-Motto (All Pages)                         ***
***************************************************************************/
.kaffa-motto {
  background-color: #F9F9F9;
  padding-bottom: 20px;
  text-align: center;
}

/***************************************************************************
***                        Footer (All Pages)                            ***
***************************************************************************/
footer {
  background: #BF1E2E;
  color: #F9F9F9;
  text-align: center;
}

.footer-index {
  background-color: inherit;
}

.footer-index .curva-SVG {
  margin-top: -150px;
}

.footer-index .footer-index-background {
  background: #BF1E2E;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact-list a {
  padding: 15px;
  display: inline-block;
  transition: all 1s ease-out;
}

.contact-list a:hover {
  opacity: 70%;
  transform: translateY(-20%) scale(1.6);
}

/***************************************************************************
***                          Products (index.html)                       ***
***************************************************************************/
.products {
  background: #F9F9F9;
  padding-bottom: 30px;
}

.products-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products-item {
  border: 1px solid rgba(191, 30, 46, 0.2);
  margin: 20px auto;
  max-width: 300px;
  width: 90vw;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 15px 15px 30px rgba(52, 52, 52, 0.6), -15px -15px 30px white;
  /* Para ajustar cada card de producto. Para centrar la Imagen, se usa Flex de un solo elemento */
}

.products-item .products-image {
  max-width: 160px;
  max-height: 190px;
  height: 90vw;
  margin: 10px;
}

@media screen and (min-width: 576px) {
  .products-item .products-image {
    max-width: 260px;
    max-height: 290px;
  }
  .products-item .products-image img {
    max-width: 260px;
    max-height: 290px;
    width: 90%;
  }
}

.products-item-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-item-body p {
  text-align: center;
  margin: 0;
}

.products-item-body p:first-of-type {
  display: none;
}

@media screen and (min-width: 576px) {
  .products-item-body p:first-of-type {
    display: inherit;
  }
}

.products-item-body .button-rectangle {
  color: #F9F9F9;
  background: #BF1E2E;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  transition: all 1s ease-out;
}

.products-item-body .button-rectangle:hover {
  background: rgba(67, 146, 241, 0.6);
  /* Dodger Blue */
  opacity: 60%;
}

.products-item-body h5 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
}

/* Mostrar la tercera card de producto (index.html) solo cuando queda en la misma fila */
.products-index .products-item03 {
  display: none;
}

@media screen and (min-width: 1100px) {
  .products-index .products-item03 {
    display: inherit;
  }
}

/* Mostrar la cuarta card de producto (index.html) solo cuando queda en la misma fila */
.products-index .products-item04 {
  display: none;
}

@media screen and (min-width: 1271px) {
  .products-index .products-item04 {
    display: inherit;
  }
}

/***************************************************************************
***                          HowTos (index.html)                         ***
***************************************************************************/
/* The padding is added, to prevent the coffee cups to hide the text */
.howTos {
  background-image: url(../images/CoffeeMuralBlurry.jpg);
  background-size: cover;
  background-position: top left;
  padding-bottom: 500px;
}

/***************************************************************************
***                         Events (index.html)                          ***
***************************************************************************/
.events {
  background: rgba(191, 30, 46, 0.2);
  padding-bottom: 70px;
}

/***************************************************************************
***              quienes-somos Nested Grid (quienesSomos.html)           ***
***************************************************************************/
.quienes-somos-nested-grid {
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: 1fr;
  grid-column-gap: 40px;
  grid-template-areas: "h2-quienes-somos" "quienes-somos-photo01" "quienes-somos-texto01" "quienes-somos-photo02" "quienes-somos-texto02";
}

@media screen and (min-width: 992px) {
  .quienes-somos-nested-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h2-quienes-somos		h2-quienes-somos" "quienes-somos-texto01	quienes-somos-photo01" "quienes-somos-photo02	quienes-somos-texto02";
  }
}

.h2-quienes-somos {
  grid-area: h2-quienes-somos;
}

.quienes-somos-texto01 {
  grid-area: quienes-somos-texto01;
}

.quienes-somos-texto02 {
  grid-area: quienes-somos-texto02;
}

.quienes-somos-photo01 {
  grid-area: quienes-somos-photo01;
}

.quienes-somos-photo02 {
  grid-area: quienes-somos-photo02;
}

/***************************************************************************
***               quienes-somos (quienesSomos.html)                      ***
***************************************************************************/
.quienes-somos {
  background-color: #F9F9F9;
  /* El max-height se usa para evitar que se deforme mucho la estructura, y quede mucho espacio vacio en el texto que las acompaña */
}

.quienes-somos h2 {
  padding-bottom: 35px;
}

.quienes-somos img {
  max-width: 100%;
  max-height: 750px;
  box-shadow: 15px 15px 30px rgba(52, 52, 52, 0.6), -15px -15px 30px white;
}

@media screen and (min-width: 768px) {
  .quienes-somos img {
    padding: 20px;
  }
}

.quienes-somos p {
  text-align: justify;
}

@media screen and (min-width: 992px) {
  .quienes-somos p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 576px) {
  .quienes-somos .quienes-somos-photo01 {
    transition: all 1s ease-out;
    transform: rotate(7deg);
  }
  .quienes-somos .quienes-somos-photo02 {
    transition: all 1s ease-out;
    transform: rotate(-4deg);
  }
}

/***************************************************************************
***                menu-general Nested Grid (menu.html)                  ***
***************************************************************************/
.menu-general-grid {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
  grid-template-areas: "menu-general-article01" "menu-general-article02" "menu-general-article03" "menu-general-article04" "menu-general-article05" "menu-general-article06" "menu-general-article07";
}

@media screen and (min-width: 1200px) {
  .menu-general-grid {
    grid-template-columns: 50% 50%;
    grid-template-areas: "menu-general-article01		menu-general-article02" "menu-general-article03		menu-general-article04" "menu-general-article05		menu-general-article06" "menu-general-article07		.";
  }
}

.menu-general-article01 {
  grid-area: menu-general-article01;
}

.menu-general-article02 {
  grid-area: menu-general-article02;
}

.menu-general-article03 {
  grid-area: menu-general-article03;
}

.menu-general-article04 {
  grid-area: menu-general-article04;
}

.menu-general-article05 {
  grid-area: menu-general-article05;
}

.menu-general-article06 {
  grid-area: menu-general-article06;
}

.menu-general-article07 {
  grid-area: menu-general-article07;
}

/***************************************************************************
***                          menu-general (menu.html)                     ***
***************************************************************************/
.menu-general {
  background-color: #F9F9F9;
}

.menu-container {
  padding-bottom: 50px;
}

.menu-container h3 {
  font-family: 'Updock', cursive;
  font-weight: 400;
  font-size: 50px;
  padding: 30px 40px 0;
  line-height: 1;
  color: #BF1E2E;
}

@media screen and (min-width: 768px) {
  .menu-container h3 {
    font-size: 80px;
  }
}

.menu-container a {
  text-decoration: none;
}

.menu-general-items {
  width: 90%;
  height: 200px;
  background-size: cover;
  background-position: top center;
  border-radius: 20px;
  box-shadow: 15px 15px 30px rgba(52, 52, 52, 0.6), -15px -15px 30px white;
}

.menu-general-item01 {
  background-image: url(../images/menu-general-capuchino-opacity50.jpg);
}

.menu-general-item02 {
  background-image: url(../images/menu-general-lattechai-opacity50.jpg);
}

.menu-general-item03 {
  background-image: url(../images/menu-general-cervezas-opacity50.jpg);
}

.menu-general-item04 {
  background-image: url(../images/menu-general-cocteles-opacity50.jpg);
}

.menu-general-item05 {
  background-image: url(../images/menu-general-pasteles-opacity50.jpg);
}

.menu-general-item06 {
  background-image: url(../images/menu-general-bananasplit-opacity50.jpg);
}

.menu-general-item07 {
  background-image: url(../images/menu-general-alfajores-opacity50.jpg);
}

/* Transicion suave ampliando la foto de la seccion del menu sobre la que se hace hover */
.menu-general-article {
  transition: all 2s ease-out;
}

.menu-general-article:hover {
  transform: scale(1.1);
}

/***************************************************************************
***                  Leyenda (laLeyendaDeKaffa.html)                     ***
***************************************************************************/
.leyenda {
  background-color: #F9F9F9;
}

.leyenda h2 {
  padding-bottom: 35px;
}

.leyenda img {
  max-width: 100%;
  box-shadow: 15px 15px 30px rgba(52, 52, 52, 0.6), -15px -15px 30px white;
}

@media screen and (min-width: 768px) {
  .leyenda img {
    padding: 20px !important;
  }
}

@media screen and (min-width: 576px) {
  .leyenda .leyenda-photo01, .leyenda .leyenda-photo03 {
    transition: all 1s ease-out;
    transform: rotate(7deg);
  }
  .leyenda .leyenda-photo02, .leyenda .leyenda-photo04 {
    transition: all 1s ease-out;
    transform: rotate(-4deg);
  }
}

.leyenda p {
  text-align: justify;
}

@media screen and (min-width: 992px) {
  .leyenda p {
    font-size: 1.3rem;
  }
}

/***************************************************************************
***                leyenda Nested Grid (quienesSomos.html)               ***
***************************************************************************/
.leyenda-nested-grid {
  display: grid;
  row-gap: 50px;
  grid-template-columns: repeat(12, 1fr);
}

.leyenda-nested-grid > * {
  grid-column: 1 / span 12;
}

@media screen and (min-width: 768px) {
  .leyenda-nested-grid {
    column-gap: 40px;
  }
  .leyenda-nested-grid img {
    padding-left: 0;
    padding-right: 0;
  }
  .leyenda-nested-grid .leyenda-texto01 {
    grid-column: 1 / span 4;
    grid-row: 2;
  }
  .leyenda-nested-grid .leyenda-photo01 {
    grid-column: 5 / span 8;
    grid-row: 2;
    justify-content: flex-end;
  }
  .leyenda-nested-grid .leyenda-texto02 {
    grid-column: 9 / span 4;
    grid-row: 3;
  }
  .leyenda-nested-grid .leyenda-photo02 {
    grid-column: 1 / span 8;
    grid-row: 3;
    justify-content: flex-start;
  }
  .leyenda-nested-grid .leyenda-texto03 {
    grid-column: 1 / span 5;
    grid-row: 4;
  }
  .leyenda-nested-grid .leyenda-photo03 {
    grid-column: 6 / span 7;
    grid-row: 4;
    justify-content: flex-end;
  }
  .leyenda-nested-grid .leyenda-texto04 {
    grid-column: 8 / span 5;
    grid-row: 5;
  }
  .leyenda-nested-grid .leyenda-photo04 {
    grid-column: 1 / span 7;
    grid-row: 5;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .leyenda-nested-grid .leyenda-texto03 {
    grid-column: 1 / span 3;
  }
  .leyenda-nested-grid .leyenda-photo03 {
    grid-column: 4 / span 9;
  }
  .leyenda-nested-grid .leyenda-texto04 {
    grid-column: 10 / span 3;
  }
  .leyenda-nested-grid .leyenda-photo04 {
    grid-column: 1 / span 9;
  }
}

@media screen and (min-width: 1400px) {
  .leyenda-nested-grid > * {
    grid-column: 1 / span 12 !important;
    grid-row: auto !important;
    justify-content: center !important;
  }
}

/***************************************************************************
***                 Encuesta de Satisfaccion (contacto.html)             ***
***************************************************************************/
.encuesta {
  background-color: #F9F9F9;
}

.encuesta form {
  padding-bottom: 50px;
}

.encuesta form .input-group {
  padding: 20px 0;
}

.juegodiferencias {
  background-color: #F9F9F9;
}

.juegodiferencias img {
  max-width: 100%;
  padding-bottom: 40px;
}

/***************************************************************************
***                  Animacion Animista Headers                          ***
***************************************************************************/
@media screen and (min-width: 768px) {
  /* Parametros Animacion Animista */
  /* Eliminando el color de background (Para cuando la imagen no esta disponible) para permitir el background animado de animista.net, cuando tenia el problema que al agregar bootstrap, la imagen de animista se perdia, se soluciono, cambiando el background: inherit a background: none */
  header {
    background: none;
  }
  /* Eliminando la imagen de background del header para mobile, para que se pueda ver la animada por animista.net */
  .header-index, .header-leyenda, .header-quienessomos, .header-menu, .header-contacto {
    background-image: none;
  }
  /* Height animacion Animista - Para asegurar que la animacion de la foto del header este contenida en esta altura, que es la que originalmente para tamaños mayores de 750px tomaba el header*/
  .header-image-background {
    height: 526.4px;
  }
}

@media screen and (min-width: 768px) and (min-width: 992px) {
  .header-image-background {
    height: 566.4px;
  }
}

@media screen and (min-width: 768px) {
  .index-header-image-background {
    background-image: url(../images/KaffaLove-FotoExterior-1200px-754px.jpg);
  }
  .leyenda-header-image-background {
    background-image: url(../images/KaffaLove-FotoMesasExternas-1200px-754px.jpg);
  }
  .quienessomos-header-image-background {
    background-image: url(../images/KaffaLove-FotoInteriornavideno-1200px-754px.jpg);
  }
  .menu-header-image-background {
    background-image: url(../images/KaffaLove-FotoCafetera-1200px-754px.jpg);
  }
  .contacto-header-image-background {
    background-image: url(../images/KaffaLove-FotoInterior-1200px-754px.jpg);
  }
  /* Generated by Animista on 2022-7-20 20:54:59 */
  .kenburns-top {
    -webkit-animation: kenburns-top 40s ease-in-out infinite both;
    animation: kenburns-top 40s ease-in-out infinite both;
  }
  @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
      transform-origin: 50% 16%;
    }
    50% {
      -webkit-transform: scale(1.8) translateY(-15px);
      transform: scale(1.8) translateY(-15px);
      -webkit-transform-origin: top;
      transform-origin: top;
    }
    100% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
      transform-origin: 50% 16%;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
      transform-origin: 50% 16%;
    }
    50% {
      -webkit-transform: scale(1.8) translateY(-15px);
      transform: scale(1.8) translateY(-15px);
      -webkit-transform-origin: top;
      transform-origin: top;
    }
    100% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
      transform-origin: 50% 16%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .index-header-image-background {
    background-image: url(../images/KaffaLove-FotoExterior-3657px-2298px.jpg);
  }
  .leyenda-header-image-background {
    background-image: url(../images/KaffaLove-FotoMesasExternas-3657px-2298px.jpg);
  }
  .quienessomos-header-image-background {
    background-image: url(../images/KaffaLove-FotoInteriornavideno-3657px-2298px.jpg);
  }
  .menu-header-image-background {
    background-image: url(../images/KaffaLove-FotoCafetera-3657px-2298px.jpg);
  }
  .contacto-header-image-background {
    background-image: url(../images/KaffaLove-FotoInterior-3657px-2298px.jpg);
  }
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.youtube-video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
