/***************************************************************************
***                      Kaffa-Motto (All Pages)                         ***
***************************************************************************/

.kaffa-motto {
	background-color: #F9F9F9; /* Cultured (Almost White) */
	padding-bottom: 20px;
	text-align:center;
}