/***************************************************************************
***                         Navigation (All Pages)                       ***
***************************************************************************/

.navigation {
	top: 10px;
	background-color: $clr-light-background;
	/* Navbar (bootstrap) y navigation bar (manual) intercambian lugares a partir de 768px */
    @include size-md {
        display: inherit;
    }
    & .btn {
        font-size: 12px;
        color: $clr-light-background;
        background: $clr-main-color;
        text-decoration: none;
        padding: 4px;
        border-radius: 4px;
        margin:5px;
        width: 120px;
        display: inline-block;
        transition: all 0.5s;
        @include size-sm {
            font-size: 20px;
            width: 170px;
        }
        &:hover {
            background: $clr-secondary-color-rgba; /* Dodger Blue */
            transform: scale(1.1);
        }
    }
    
}

.navigation-list {
	list-style-type: none;
	padding: 0 0 10px;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.navbar {
    @include size-md {
        display: none;
    }
}
