/***************************************************************************
***                         Global Grids (All Pages)                     ***
***************************************************************************/

.index-grid {
	background: $clr-light-background;
	@extend %grid-size-sm-placeholder;
	grid-template-areas: 
	"navigation"
	"kaffa-motto"
	"products"
	"events"
	"howTos"
	;
	@include size-md {
		.curva-SVG {
			margin-bottom: 0; /* solo para index al crear las dos columnas, la curva SVG se le eliminan los pixeles negativos de margin, evitar sobrelapo */
		}
		grid-template-columns: 40% 60%;
		grid-template-areas: 
		"kaffa-motto   navigation"
		"products      products"
		"events        events"
		"howTos        howTos"
		;
	}
	@include size-lg {
		grid-template-columns: 60% 40%;
		grid-template-areas: 
		"kaffa-motto   navigation"
		"products      products"
		"events        howTos"
		;
	}
}

.menu-grid {
	@extend %grid-size-sm-placeholder;
	grid-template-areas: 
	"navigation"
	"kaffa-motto"
	"menu-general"
	;
	@include size-md {
		grid-template-columns: 40% 60%;
		grid-template-areas: 
		"kaffa-motto   navigation"
		"menu-general	menu-general"
		;
	}
	@include size-lg {
		grid-template-columns: 60% 40%;
	}
}

.menu-submenus-grid {
	@extend %grid-size-sm-placeholder;
	grid-template-areas: 
	"navigation"
	"kaffa-motto"
	"products"
	"menu-general"
	;
	@include size-md {
		grid-template-columns: 40% 60%;
		grid-template-areas: 
		"kaffa-motto   	navigation"
		"products		products"
		"menu-general	menu-general"
		;
	}
	@include size-lg {
		grid-template-columns: 60% 40%;
	}
}

.quienessomos-grid {
	@extend %grid-size-sm-placeholder;
	grid-template-areas: 
	"navigation"
	"kaffa-motto"
	"quienes-somos"
	;
	@include size-md {
		grid-template-columns: 40% 60%;
		grid-template-areas: 
		"kaffa-motto   navigation"
		"quienes-somos	quienes-somos"
		;
	}
	@include size-lg {
		grid-template-columns: 60% 40%;
	}
}

.leyenda-grid {
	@extend %grid-size-sm-placeholder;
	grid-template-areas: 
	"navigation"
	"kaffa-motto"
	"leyenda"
	;
	@include size-md {
		grid-template-columns: 40% 60%;
		grid-template-areas: 
		"kaffa-motto   navigation"
		"leyenda		leyenda"
		;
	}
	@include size-lg {
		grid-template-columns: 60% 40%;
	}
}

.contacto-grid {
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas: 
	"navigation"
	"kaffa-motto"
	"encuesta"
	"juegodiferencias"
	;
	@include size-md {
		grid-template-columns: 40% 60%;
		grid-template-areas: 
		"kaffa-motto       navigation"
		"encuesta		   encuesta"
		"juegodiferencias  juegodiferencias"
		;
	}
	@include size-lg {
		grid-template-columns: 60% 40%;
	}
}

/* All Pages */
.navigation {		
	grid-area: navigation;
}
.kaffa-motto {		
	grid-area: kaffa-motto;
}

/* index page */
.products {			
	grid-area: products;
}
.events {			
	grid-area: events;
}
.howTos {			
	grid-area: howTos;
}
/* menu page */	
.menu-general {		
	grid-area: menu-general;
}

/* quienes-somos page */
.quienes-somos {	
	grid-area: quienes-somos;
}

/* leyenda page */
.leyenda {			
	grid-area: leyenda;
}

/* contacto page */
.encuesta {			
	grid-area: encuesta;
}

/* contacto page */
.juegodiferencias {			
	grid-area: juegodiferencias;
}
