/***************************************************************************
***                         Navigation (All Pages)                       ***
***************************************************************************/

.navigation {
    display: none;
    top: 10px;
	background-color: $clr-light-background;
	& li {
        position: relative; /* para poder colocar la class de bootstrap .stretched-link y cada li mantenga el clickable de su elemento y no toda la barra */
    }
    /* Navbar (bootstrap) y navigation bar (manual) intercambian lugares a partir de 768px */
    @include size-md {
        display: inherit;
    }
    & .button-rectangle {
        font-size: 12px;
        color: $clr-light-background;
        background: $clr-main-color;
        text-decoration: none;
        padding: 4px;
        border-radius: 4px;
        margin:5px;
        width: 120px;
        display: inline-block;
        transition: all 0.5s;
        @include size-sm {
            font-size: 20px;
            width: 170px;
        }
        &:hover {
            background: $clr-secondary-color-rgba; /* Dodger Blue */
            transform: scale(1.1);
        }
        &-ddfixed {
            width: 100px;
            margin-right: 1px;
            @include size-sm {
                width: 130px;
            }
            &:hover {
                transform: none;
            }
        }
        &-ddsplit {
            width: 20px;
            margin-left: 1px;
            @include size-sm {
                width: 40px;    
            }
            &:hover {
                transform: none;
            }
        }
    }
    &-list {
        list-style-type: none;
        padding: 0 0 10px;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 20;
    & .nav-link:hover {
        background-color: $clr-main-color-rgba;
        font-size: 20px;
    }
    @include size-md {
        display: none;
    }
}

