/***************************************************************************
***                        Footer (All Pages)                            ***
***************************************************************************/

footer {
	background: #BF1E2E; /* Red NCS */
	color: #F9F9F9; /* Cultured (Almost White) */
	text-align: center;
}

.contact-list {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
    & a {
        padding: 15px;
        display: inline-block;
        &:hover {
            opacity: 60%;
        }
    }
}
