/***************************************************************************
***                 Encuesta de Satisfaccion (contacto.html)             ***
***************************************************************************/

.encuesta {
	background-color: $clr-light-background;
	& form { 
		padding-bottom: 50px;
		& .input-group {
			padding: 20px 0;
		}
	}
}
.juegodiferencias {
	background-color: $clr-light-background;
	& img {
		max-width: 100%;
		padding-bottom: 40px;
		@extend %center-using-flex;
	}
}