/***************************************************************************
***                         Events (index.html)                          ***
***************************************************************************/

.events {
	color: #343434; /* Dark Gray (Almost black) */
	background: #F9E0D9; /* Misty Rose */
	padding-bottom: 50px;
}