/***************************************************************************
***                          HowTos (index.html)                         ***
***************************************************************************/

/* The padding is added, to prevent the coffee cups to hide the text */
.howTos {
	background-image: url(../images/CoffeeMuralBlurry.jpg);
	background-size: cover;
	background-position: top left;
	padding-bottom: 500px; 
}