/***************************************************************************
***                          Products (index.html)                       ***
***************************************************************************/

.products {
	background: $clr-light-background;
	/* padding-bottom: 60px; se elimina para permitir la curva en svg*/ 
}
.products-flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.product-item {
	border: 1px solid $clr-main-color-diluted;
	margin: 20px;
	max-width: 300px;
	width: 90vw;
	background-color: white;
	border-radius: 30px;
	padding: 20px;
    & h3 {
        margin-top: 0;
    }
    & p {
        text-align: center;
    }
}
/* Mostrar la tercera card de producto solo cuando queda en la misma fila */
.product-item03 {
    display: none;
    @include size-xxl {
        display: inherit;
    }
}
/* Mostrar la cuarta card de producto solo cuando queda en la misma fila */
.product-item04 {
    display: none;
    @include size-1544px {
        display: inherit;
    }
}
/* Para ajustar cada card de producto. Para centrar la Imagen, se usa Flex de un solo elemento */
.product-image {    
	max-width: 260px;
	max-height: 290px;
	height: 90vw;
	margin: 10px;
    @extend .quienes-somos-image
}

.products {
    & img {
        max-width: 260px;
        max-height: 290px;
        width: 90%;
    }
    & .btn {
        color: $clr-light-background;
        background: $clr-main-color;
        text-decoration: none;
        padding: 8px;
        border-radius: 4px;
        display: inline-block;
        &:hover {
            background: $clr-secondary-color-rgba; /* Dodger Blue */
        }
    }   
}