/***************************************************************************
***                  Leyenda (laLeyendaDeKaffa.html)                     ***
***************************************************************************/

.leyenda {
	background-color: $clr-light-background;
	& img {
        max-width: 100%;
        @include size-md {
            padding: 20px;
        }
    }
    & p {
        text-align: justify;
		@include size-lg {
			font-size: 1.3rem;
		}
    }
}
/* Para centrar la Imagen, se usa Flex de un solo elemento */
.leyenda-image {
	@extend .quienes-somos-image
}