/***************************************************************************
***                menu-general Nested Grid (menu.html)                  ***
***************************************************************************/

.menu-general-grid {
	display: grid;
	grid-template-columns: 100%;
	gap: 20px;
	grid-template-areas: 
	"menu-general-article01"
	"menu-general-article02"
	"menu-general-article03"
	"menu-general-article04"
	"menu-general-article05"
	"menu-general-article06"
	;
	@include size-xl {
		grid-template-columns: 50% 50%;
		grid-template-areas: 
		"menu-general-article01		menu-general-article02"
		"menu-general-article03		menu-general-article04"
		"menu-general-article05		menu-general-article06"
		;
	}
}

.menu-general-article01 {
	grid-area: menu-general-article01;
}
.menu-general-article02 {
	grid-area: menu-general-article02;
}
.menu-general-article03 {
	grid-area: menu-general-article03;
}
.menu-general-article04 {
	grid-area: menu-general-article04;
}
.menu-general-article05 {
	grid-area: menu-general-article05;
}
.menu-general-article06 {
	grid-area: menu-general-article06;
}