/***************************************************************************
***                          menu-general (menu.html)                     ***
***************************************************************************/

.menu-general {
	background-color: $clr-light-background;
}
.menu-container {
	padding-bottom: 50px;
    & h3 {
        font-family: 'Updock', cursive;
        font-weight: 400;
        font-size: 50px;
        padding: 30px 40px 0;
        line-height: 1;
        color:  $clr-main-color; 
        @include size-md {
            font-size: 80px;
        }
    }  
    & a {
        text-decoration: none;
    }      
}
.menu-general-items {
	width: 90%;
	height: 200px;
	background-size: cover;
	background-position: top center;
	border-radius: 20px;
}
.menu-general-item01 {
	background-image: url(../images/menu-general-capuchino-opacity50.jpg);
}
.menu-general-item02 {
	background-image: url(../images/menu-general-lattechai-opacity50.jpg);
}
.menu-general-item03 {
	background-image: url(../images/menu-general-cervezas-opacity50.jpg);
}
.menu-general-item04 {
	background-image: url(../images/menu-general-cocteles-opacity50.jpg);
}
.menu-general-item05 {
	background-image: url(../images/menu-general-pasteles-opacity50.jpg);
}
.menu-general-item06 {
	background-image: url(../images/menu-general-bananasplit-opacity50.jpg);
}
.menu-general-item07 {
	background-image: url(../images/menu-general-alfajores-opacity50.jpg);
}
/* Transicion suave ampliando la foto de la seccion del menu sobre la que se hace hover */
.menu-general-article {		
	transition: all 2s ease-out;
    &:hover {
        transform: scale(1.1);
    }
}
