/***************************************************************************
***           menu-general (menu.html & menu-"submenus".html)            ***
***************************************************************************/

.menu-general {
	background-color: $clr-light-background;
    &-container {
        padding-bottom: 50px;
        & h3 {
            font-family: 'Updock', cursive;
            font-weight: 400;
            font-size: 50px;
            padding: 30px 40px 0;
            line-height: 1;
            color:  $clr-main-color; 
            opacity: 100%;
            position: relative;
            @include size-md {
                font-size: 80px;
            }
        }  
        & a {
            text-decoration: none;
        }      
    }

    &-item {
        position: relative; // Solucion background opacity https://coder-coder.com/background-image-opacity/ //
        width: 90%;
        height: 200px;
        // Transicion suave ampliando la foto de la seccion del menu sobre la que se hace hover y modificando el opacity (Solucion dada por https://coder-coder.com/background-image-opacity //
        transition: all 2s ease-out;

        &::before {
            content: "";
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            border-radius: 20px;
            background-position: top center;
            box-shadow: 15px 15px 20px $clr-light-gray,
            -15px -15px 20px white;
            opacity: 20%;
        }
        &:hover {
            transform: scale(1.1);
            &::before {
            opacity: 50%;	
            }
        }
        &01::before {
            background-image: url(../images/menu-general-capuchino.jpg);
        }
        &02::before {
            background-image: url(../images/menu-general-lattechai.jpg);
        }
        &03::before {
            background-image: url(../images/menu-general-cervezas.jpg);
        }
        &04::before {
            background-image: url(../images/menu-general-cocteles.jpg);
        }
        &05::before {
            background-image: url(../images/menu-general-pasteles.jpg);
        }
        &06::before {
            background-image: url(../images/menu-general-bananasplit.jpg);
        }
        &07::before {
            background-image: url(../images/menu-general-alfajores.jpg);
        }
    }
}


