/***************************************************************************
***   Products (index.html menu.html y todas las menu-"submenu".html)    ***
***************************************************************************/

.products {
	background: $clr-light-background; 
    padding-bottom: 30px;
    &-flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-item {
        border: 1px solid $clr-main-color-rgba;
        margin: 20px auto;
        width: 90vw;
        background-color: white;
        border-radius: 30px;
        padding: 10px;
        box-shadow: 15px 15px 30px $clr-light-gray,
        -15px -15px 30px white;
        @include size-xs {
            max-width: calc(50% - 1em);
        }
        @include size-sm {
            max-width: 440px; //Para permite mayor espacio cuando se permite el texto descriptivo del producto //
        }
        /* Para ajustar cada card de producto. Para centrar la Imagen, se usa Flex de un solo elemento */
        & .products-image {    
        max-width: 160px;
        max-height: 190px;
        height: 90vw;
        margin: 10px;
        @extend %center-using-flex;
            @include size-sm {
                max-width: 260px;
                max-height: 290px;    
                & img {
                    max-width: 260px;
                    max-height: 290px;
                    width: 90%;
                }
            }
        }
        &-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            & p {
                text-align: center;
                margin: 0;
                &:first-of-type {
                    display: none;
                }
                @include size-sm {
                    &:first-of-type {
                        display: inherit;
                    }
                }
            }
            & .button-rectangle {
                @extend %button-rectangle;
                padding: 8px;
                margin-bottom: 8px;
            }  
            & h5 {
                margin-top: 0;
                margin-bottom: 0;
                padding-bottom: 10px;
            }
        }    
    }
}


/* Mostrar la tercera card de producto (index.html) solo cuando queda en la misma fila */
.products-index .products-item03 {
    display: none;
    @include size-1100px {
        display: inherit;
    }
}
/* Mostrar la cuarta card de producto (index.html) solo cuando queda en la misma fila */
.products-index .products-item04 {
    display: none;
    @include size-1271px {
        display: inherit;
    }
}

