/***************************************************************************
***   Products (index.html menu.html y todas las menu-"submenu".html)    ***
***************************************************************************/

.products {
	background: $clr-light-background; 
    padding-bottom: 30px;
    &-flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

