/***************************************************************************
***               quienes-somos (quienesSomos.html)                      ***
***************************************************************************/

.quienes-somos { 
	background-color: $clr-light-background; 
    & h2 {
        padding-bottom: 35px; // Espacio para la rotacion de la primera foto //
    }
        /* El max-height se usa para evitar que se deforme mucho la estructura, y quede mucho espacio vacio en el texto que las acompaña */
    & img {
        max-width: 100%;
        max-height: 750px;
        box-shadow: 15px 15px 30px $clr-light-gray,
        -15px -15px 30px white;
        @include size-md {
            padding: 20px;
        }
    }
    & p {
        text-align: justify;
        @include size-lg {
            font-size: 1.2rem;
        }
    }
    @include size-sm {
        & .quienes-somos-photo01 {
            transition: all 1s ease-out;
            transform: rotate(7deg);
        }
        & .quienes-somos-photo02 {
            transition: all 1s ease-out;
            transform: rotate(-4deg);
        }
    }

}
/* Para centrar la Imagen, se usa Flex de un solo elemento */
.quienes-somos-image {
	display: flex; 
	justify-content: center;
	align-content: center;
}