/***************************************************************************
***                        Global Styles (All Pages)                     ***
***************************************************************************/

body {
	color: $clr-dark-gray;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	max-width: 100%;
}
/* Parametro usado exclusivamente para evitar el scroll horizontal, que se dio por la animacion de Animista en el header (Crecimiento foto de fondo), de resto la pagina NO requiere el clapping que da el overflow-x */
html, body {  
	overflow-x: hidden;
}
a:hover {
	text-decoration: none;
}
h1 {
	font-size: 65px;
	line-height: 0.9;
	margin-bottom: 30px;
	@include size-sm {
		font-size: 85px;
	}
	@include size-md {
		font-size: 150px;	
		line-height: 1.2;
	}
}
h2 {
	font-size: 40px;
	line-height: 1;
	@include size-sm {
		font-size: 60px;
	}
	@include size-md {
		font-size: 80px;
	}
}
h1, h2 {
	font-family: 'Updock', cursive;
	font-weight: 400;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0 20px 0 0;
}
h3 {
	font-size: 18px;
	@include size-md {
		font-size: 22px;
	}
}
h5 {
	font-size: 24px;
}
/* se agrega h5 por las cards de producto con bootstrap */
h3, h5 {
	margin-bottom: 0;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding-bottom: 20px;
}
p {
	margin: 2em 0;
}
/* .item-details applies to Events (index.html) and HowTos (index.html) Sections */
.item-details { 
	& h3 + p {	/* Sibling Combinator - only the element directly after */
	font-size: italic;	
	}
	& h3 ~ p {	/* Sibling Combinator - any sibling after */
		margin: 0;
	}	
}
/* .dash-divider applies to Events (index.html) and HowTos (index.html) Sections*/
.dashed-divider { 
	& > article {		/* Child Combinator - any direct child after */
		border-bottom: 1px dashed #343434; /* Dark Gray (Almost black) */
		padding: 25px 0;
		&:last-of-type {	/* to avoid dashed line in the last item */
			border-bottom: none;
		}
	}
}
/* parametros de la curva creada en SVG, en mobile, no se muestra, se habilita desde los 576px */
.curva-SVG {		
	display: none;
	height: 150px;
	overflow: hidden;
	margin-bottom: -2px; /* Valor negativo para evitar linea de pixel blanco sobrelapando con el footer */
	& svg {
		height: 100%;
		width: 100%;
		& path {
			stroke: none;
			fill: $clr-main-color;
		}
	}
	@include size-sm {
		display: inherit;
	}
}
.content-wrap {
	max-width: 1400px;
	width: 85%;
	margin: 0 auto;
	padding: 10px 0 5px;
}