/***************************************************************************
***                            Color Palette                             ***
***************************************************************************/

/*
https://coolors.co/bf1e2e-343434-4392f1-f9e0d9-f9f9f9
#BF1E2E Red NCS 					- rgb(191,30,46)
#343434 Dark Gray (Almost black) 	- rgb(52,52,52)
#4392F1 Dodger Blue 				- rgb(67,146,241)
#F9E0D9 Misty Rose 					- rgb(249,224,217)
#F9F9F9 Cultured (Almost White) 	- rgb(249,249,249)
*/ 

//************************************************************************//
///                           Variables Colors                           ///
//************************************************************************//

@use "sass:color";

$clr-main-color: #BF1E2E; // Red NCS //
$clr-main-color-rgba: #{transparentize($clr-main-color, 0.8)};
$clr-main-color-diluted: #F9E0D9; // Misty Rose //
$clr-light-background: #F9F9F9; // Cultured (Almost White) //
$clr-dark-gray: #343434; // Dark Gray (Almost black) //
$clr-secondary-color: #4392F1; // Dodger Blue //
$clr-secondary-color-rgba: #{transparentize($clr-secondary-color, 0.4)};


//************************************************************************//
///                           Variables Animista                         ///
//************************************************************************//

$initial-height-image-header: 506.4px;